:root{
    --cor1: #005873;
    --cor2: #153c47;
    --cor3: #001E27;
    --cor4: #226073;
    --cor5: #0093BF;
    --color-hr: #f9ffff2c;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor3);
    color: white;
}

header{
    background-color: var(--cor3);
    width: 100%;
    height: 100px;
    font-family: var(--fonte-destaque);
}

header > h1{
    text-align: center;
    font-size: 2.6em;
    padding-top: 20px;
    letter-spacing: 2px;
}

nav{
    background-color: var(--cor3);
    padding-bottom: 20px;
    text-align: center;
}

nav > a:hover{
    text-decoration: underline;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 12px;
    font-family: var(--fonte-padrao);
    font-size: 1.05em;
}

main{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
}

main h2{
    font-family: var(--fonte-destaque);
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 5px 4px 5px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

main h3{
    font-family: var(--fonte-destaque);
    font-size: 1.1em;
    padding-bottom: 10px;
}

.projetos{
    display: inline-block;
    background-color: var(--cor2);
    width: 300px;
    height: 200px;
    margin: 15px;
}

.projetos:hover{
    transform: scale(1.04);
    transition: 0.5s;
    cursor: pointer;
}

.btn{
    margin: auto;
    background-color: var(--cor1);
    padding: 10px;
    text-align: center;
    max-width: 200px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.062);
}

.btn > a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--cor2);
    transition-duration: 0.8s;
    cursor: pointer;
}

footer{
    color: rgba(255, 255, 255, 0.61);
    text-align: center;
    padding: 12px;
    font-family: var(--fonte-destaque);
    font-size: 0.9em;
}

footer span{
    font-weight: bold;
}
